<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<style>
	table {
	margin: 1em;
	}
	tr:first-child {
	font-weight: bolder;
	}
	nav {
	text-align: center;
	}
	</style>
</head>
<body>
    {block content}{/block}
</body>
</html>
