<!DOCTYPE html>
<html>
<head>
	<title>eShopWatch Configuration</title>
</head>
<body>

<table n:if="$table">
{foreach $table as $row}
    {var $bestOffer = $row->getBestOffer()}
	<tr><td>{$row->name}</td><td>{$bestOffer->price}</td><td>{$bestOffer->shop_id}</td></tr>
{/foreach}
</table>
</body>
</html>